  .form__group {
    margin-bottom: 20px;
  }
  
  .form__group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form__group input:focus {
    outline: none;
    border-color: #007bff; 
  }
  
  h6 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .checkout__cart-col {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
}

.checkout__cart {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 55px;
}

.checkout__cart h6 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.checkout__cart h6 span {
    font-weight: normal;
    margin-left: 10px;
}

.checkout__cart h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

.buy__btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.buy__btn:hover {
    background-color: #0056b3;
}

  