.fav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
  }
  
  .fav-card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    max-width: 250px;
  }
  
  .fav-card img {
    max-width: 100%;
    height: auto;
  }
  
  .fav-card h3 {
    margin: 10px 0;
    font-size: 13px;
    font-weight: 600;
  }
  
  .price {
    font-weight: bold;
    font-size: 15px;
  }
  
  button {
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: white;
    font-weight: 500;
  }
  
  button:hover {
    color:#007bff;
    
  }
.ri-delete-bin-line{
  background-color: white;
  margin-top: 10px !important;
}
