.fav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
  }
  
  .fav-card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    max-width: 250px;
  }
  
  .fav-card img {
    max-width: 100%;
    height: auto;
  }
  
  .fav-card h3 {
    margin: 10px 0;
    font-size: 13px;
    font-weight: 600;
  }
  
  .price {
    font-weight: bold;
    font-size: 15px;
  }
  
  .ri-delete-bin-line {
    color: #ff0000;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.2s, color 0.2s;
    border-radius: 5px;
  }
  .ri-delete-bin-line{
    background-color: white;
    color: #ff0000;
  }
  
  .favButton {
    color: #007bff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    font-weight: 500;
    transition: background-color 0.2s, color 0.2s;
    border-radius: 5px;
    margin-left: 20px; 
    margin-top: -10px !important;
  }