.buy_btn {
    background: transparent;
    border: 1px solid white;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
  }
  .ri-add-line{
    cursor: pointer;
  }
  
  .buy_btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .buy_btn_text {
    color: white;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
  }
  .homeVideo{
    width: 400px;
    height: 400px;
    margin-top: 250px;
    margin-left: 150px;
    border-radius: 15px;
  }

  .home1{
    height: 800px;
  }

  .custom-link {
    color: black;
    text-decoration: none;
  }
  
  .custom-link:hover {
    color: rgb(0, 0, 0);
  }
  
  
  .section__tittle{
    font-size: 25px;
    margin-top: -50px;
  }


.main__img-container {
  display: flex;
  justify-content: space-between;
}

.main__img {
  position: relative;
  transition: transform 0.3s, border-bottom 0.3s;
  width: 500px;
  cursor: pointer;
}

.main__img img {
  width: 100%;
  height: auto;
}

.img__text {
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  font-size:17px;
}

.main__img:hover {
  transform: translateY(-4px);
  border-bottom: 1px solid #5b5b5a; 
}

.marka__logo {
  text-align: center;
  display: flex;
}

.refiry__logo,
.cut__logo {
  text-align: center;
  margin-bottom: 30px;
}

.refiry__logo img {
  width: 250px;
  height: auto;
}

.refiry__logo-text {
  text-align: center;
  font-size: 15px !important;
  line-height: 2rem;
  color: #5b5b5a;
}

.cut__logo img {
  width: 150px !important;
  height: auto;
  margin-left: 0;
  margin-top: -8px;
}

.cut__logo-text {
  text-align: center;
  font-size: 15px !important	;
  line-height: 1.5;
  margin-left: 0;
  color: #5b5b5a;
}

@media only screen and (max-width:992px){
  .hero__content h2{
    font-size: 2rem;
  }

}

@media only screen and (max-width:576px){
  .hero__content{
    padding-top: 0;	
    margin-bottom: 40px;
  }  
  .hero__content h2{
    font-size: 1.8rem;
  }
  .marka__logo {
    display: block;
    flex-direction: column;
    align-items: center;
  }

  .refiry__logo,
  .cut__logo {
    text-align: center;
    margin-bottom: 60px;
  }

  .refiry__logo img {
    width: 250px;;
    height: auto;
  }

  .refiry__logo-text {
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
  }

  .cut__logo img {
    width: 170px;
    height: auto;
    margin-left: 0;
  }

  .cut__logo-text {
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px)  {
  .refiry__logo,
  .cut__logo {
    text-align: center;
    margin-bottom: 60px;
  }

  .refiry__logo img {
    width: 250px;;
    height: auto;
  }

  .refiry__logo-text {
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
  }

  .cut__logo img {
    width: 170px;
    height: auto;
    margin-left: 0;
  }

  .cut__logo-text {
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  .marka__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .refiry__logo,
  .cut__logo {
    flex: 1;
    text-align: center;
  }

  
  .cut__logo img {
    width: 170px;;
    height: auto;
  }

  .refiry__logo img{
    width: 250px;;
    height: auto;
  }

  .refiry__logo-text,
  .cut__logo-text {
    text-align: center;
    font-size: 15px;
    line-height: 1rem;
  }
}

.image-container:hover .image-text {
  opacity: 1;
}

@media (max-width: 768px) {
  .home__img {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
  }
}

@media screen and (max-width: 768px) {
  .home__img {
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .home__img {
    justify-content: center;
  }
}

.image-container {
  position: relative;
  display: inline-block;
}

.animation-container {
  height: 50px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
}

.text-container {
  display: flex;
  position: absolute;
  white-space: nowrap;
  animation: moveText 18s linear infinite;
}

.moving-text {
  color: rgb(0, 0, 0);
  font-size: 38px;
  padding-right: 30px; 
  font-weight: 600;
}
.hide-indicators .control-dots {
  display: none;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  width: 100%;
  text-align: center;
}

.card .shoesImg{
  height: 410px !important;
}
.cardHome{
  display: flex;
  justify-content: space-between;
  padding: 70px;

}

.card img {
  max-width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.card-description {
  font-size: 15px;
  margin-top: 10px;
  font-weight: 600;
}

.card-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.card-button:hover {
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .card {
    max-width: 100%;
  }
  .cardHome {
    flex-direction: column;
    padding: 20px;
  }
  .card-button {
    margin-top: 10px;
  }
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.video-links {
  position: relative;
  color: white;
  text-decoration: none;
  margin-right: 10px; 
}

.video-links::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: -2px;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.video-links:hover::before {
  transform: translateY(0);
  transition: transform 0.3s ease;
}
