.buy_btn {
    background: transparent;
    border: 1px solid white;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
  }
  .ri-add-line{
    cursor: pointer;
  }
  
  .buy_btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .buy_btn_text {
    color: white;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
  }

  .hero__content h2 {
    color: white;
    font-size: 2.5rem;
    font-weight: 600px;
  }
  

  .hero__description {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    backdrop-filter: blur(1px);
    color: white;
    display: inline-block;
    font-size: 13px;
    margin: 0;
    margin-top: -50px;
  }
  
  .parallax-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    pointer-events: none;
  }

  .home1{
    height: 800px;
  }

  .custom-link {
    color: black;
    text-decoration: none;
  }
  
  .custom-link:hover {
    color: rgb(0, 0, 0);
  }
  
  
  .section__tittle{
    font-size: 25px;
    margin-top: -50px;
  }


.main__img-container {
  display: flex;
  justify-content: space-between;
}

.main__img {
  position: relative;
  transition: transform 0.3s, border-bottom 0.3s;
  width: 500px;
  cursor: pointer;
}

.main__img img {
  width: 100%;
  height: auto;
}

.img__text {
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  font-size:17px;
}

.main__img:hover {
  transform: translateY(-4px);
  border-bottom: 1px solid #5b5b5a; 
}

.marka__logo {
  text-align: center;
  display: flex;
}

.refiry__logo,
.cut__logo {
  text-align: center;
  margin-bottom: 30px;
}

.refiry__logo img {
  width: 250px;
  height: auto;
}

.refiry__logo-text {
  text-align: center;
  font-size: 15px !important;
  line-height: 2rem;
  color: #5b5b5a;
}

.cut__logo img {
  width: 150px !important;
  height: auto;
  margin-left: 0;
  margin-top: -8px;
}

.cut__logo-text {
  text-align: center;
  font-size: 15px !important	;
  line-height: 1.5;
  margin-left: 0;
  color: #5b5b5a;
}

@media only screen and (max-width:992px){
  .hero__content h2{
    font-size: 2rem;
  }

}

@media only screen and (max-width:576px){
  .hero__content{
    padding-top: 0;	
    margin-bottom: 40px;
  }  
  .hero__content h2{
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px)  {
  .marka__logo {
    display: block;
    flex-direction: column;
    align-items: center;
  }

  .refiry__logo,
  .cut__logo {
    text-align: center;
    margin-bottom: 60px;
  }

  .refiry__logo img {
    width: 250px;;
    height: auto;
  }

  .refiry__logo-text {
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
  }

  .cut__logo img {
    width: 170px;
    height: auto;
    margin-left: 0;
  }

  .cut__logo-text {
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  .marka__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .refiry__logo,
  .cut__logo {
    flex: 1;
    text-align: center;
  }

  
  .cut__logo img {
    width: 170px;;
    height: auto;
  }

  .refiry__logo img{
    width: 250px;;
    height: auto;
  }

  .refiry__logo-text,
  .cut__logo-text {
    text-align: center;
    font-size: 15px;
    line-height: 1rem;
  }
}