.lookbook1__img, .lookbook2__img, .lookbook3__img, .lookbook4__img {
    display: flex;
}

.look1 {
    width: 900px;
    height: 600px;
}

.look2 {
    width: 400px;
    height: 600px;
    margin-left: 10px;
}

.look3 {
    width: 400px;
    height: 600px;
    margin-left: 10px;
    margin-top: -100px !important;
}

.look4 {
    width: 900px;
    height: 600px;
    margin-top: -100px !important;
}

.look5{
    margin-top: -100px !important;
    height: 500px;
}

.look6 {
    width: 350px;
    height: 500px;
    margin-left: 10px;
    margin-top: -100px !important;
}

.look7 {
    width: 350px;
    height: 500px;
    margin-top: -100px !important;
}

.look8 {
    width: 350px;
    height: 500px;
    margin-top: -100px !important;
}

.lookbook1__img img, .lookbook2__img img, .lookbook3__img img, .lookbook4__img img {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
    border-radius: 10px; 
}

.lookbook1__img img:hover, .lookbook2__img img:hover, .lookbook3__img img:hover, .lookbook4__img img:hover {
    transform: scale(1.02); 
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
}

.lookbokk__text {
    font-size: 24px;
    font-weight: 500;
    margin-top: 55px; 
    color: #474747;
    text-transform: uppercase;
    margin-left: 15px;
}

.lookbokk__text {
    text-align: center;
    font-size: 35px;
    color: #333;
    padding: 20px 0;
    position: relative;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.lookbokk__text::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.lookbokk__text:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.fetured__product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .fetured__product h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  @media screen and (max-width: 768px) {
    .look1,
    .look4 {
        width: 100%;
        height: auto;
    }

    .look2,
    .look3,
    .look5,
    .look6,
    .look7,
    .look8 {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .lookbook1__img,
    .lookbook2__img,
    .lookbook3__img,
    .lookbook4__img {
        flex-direction: column;
    }

    .lookbook1__img img,
    .lookbook2__img img,
    .lookbook3__img img,
    .lookbook4__img img {
        margin: 10px 0; 
    }

    .fetured__product {
        flex-direction: column;
    }
}
