.product__item{
    cursor: pointer;
}

.product__name {
    font-size: 13px;
    font-weight: 500;
    color: #0a1d37;
    margin-top: 15px;
  }
  
  .product__info a:hover{
    color:inherit
  }
  .price {
    font-weight: 500;
  }
  
  .product__card__bottom span i {
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 50px;
  }
  